html
    head
    +h.headers
    +load('font')
    +h.load("/template/style.scss")
    +h.load("/template/markdown.scss")
    block title
      title= site.title
        
    body
      .nav
        +site.just_nav
      
      .site_main
        header.siteheader
          .description
            +font('noto-1')
              span.site_description= site.configs.sub_title
          .header_main
            .header_img
              img(src=site.background_image, alt="header_image")
            .header_title
              +font('hanazono')
                h1.title
                  a(href='/').title= site.title
        block content
        
      .footer
        .footer_text
          .blogger
            span.site_info= 'Copyright &copy '
            span= site.now.year + '&nbsp;'
              a(href="/")=site.title 
              .designer
                span.designer= 'Theme &nbsp;'
                  a(href="https://github.com/matrixk/bitcron-theme-canonical", target="_blank")「正则」
                span.designer= '&nbsp; Designed by &nbsp;'
                  a(href="https://matrixk.me/", target="_blank")  矩阵良
                span.designer= '&nbsp; Powered by &nbsp;'
                  a(href="https://www.bitcron.com/", target="_blank")  Bitcron

      .paginator
        +h.back_to_top(label="△")
        .posme
          +h.paginator(pre_label="◁",  next_label="▷")
