extends base.jade

block title
	if request.path.startswith('/tag/') and posts.tags
		title= '标签：' + posts.tags.join("+") + ' - ' + site.title
	elif request.path.startswith('/category/') and posts.category
		title= '分类：' + posts.category.title + ' - ' + site.title
	elif request.args.s
		title= '搜索：' + request.args.s + ' - ' + site.title
	else
		title= site.title

block content
  if request.path.startswith('/tag/') and posts.tags
    .labeltitle= '标签「%s」下的文章' %posts.tags.join("+")
  elif request.path.startswith('/category/') and posts.category
    .labeltitle= '分类「%s」下的文章' %posts.category.title
    
  if request.path.strip('/')=='category'
    +response.redirect('/categories')
  if request.path.strip('/')=='tag'
    +response.redirect('/categories')

  .post_list
    for post in posts
      article.post_preview
        //+font('hanazono')
        h2.post_title
            a(href=post.url, target="_blank")= post.title
        //+font('noto-1')
        ul.info
            if post.category: span.info_detail
              i.fa.fa-book
              a(href=post.category.url)= post.category.title
              
            if post.tags: span.info_detail
      				i.fa.fa-tags
    					for tag in post.tags
    						a.tag(href='/tag/{{tag}}')= tag
              
            span.info_detail
      				i.fa.fa-file-text-o
        			span= ('{0:,}'.format(post.text_words or 0)) + '字'
              
            span.info_detail
              i.fa.fa-heart
              span='%s次阅读' %(post.visits or 0)
              
            span.info_detail
              i.fa.fa-comments-o
              span= ('{0:,}'.format(post.comments_count or 0)) + '条评论'
              
            span.info_detail
              i.fa.fa-calendar
              span= post.date.format('%Y-%m-%d')

        .content= post.content.limit(300).no_pic.plain