html
    head
    +h.headers
    +load('font')
    +h.load("/template/style.scss")
    block title
      title= site.title
        
    body
      .nav
        +site.just_nav
      
      .site_main
        header.site
          .description
            +font('noto-1')
              span.site_description= site.configs.sub_title
          .header_main
            .header_img
              img(src=site.background_image, alt="header_image")
            .header_title
              +font('hanazono')
                h1.title
                  a(href='/')= site.title
        block content
        
      .footer
        .blogger
          span.site_info= 'Copyright &copy '
          span= site.now.year + '&nbsp;'
            a(href="/")=site.title 
        .designer
          span.designer= 'Theme &nbsp;'
            a(href="")「正则」
          span.designer= '&nbsp; Designed by &nbsp;'
            a(href="https://matrixk.me/", target="_blank")  矩阵良
          span.designer= '&nbsp; Powered by &nbsp;'
            a(href="https://www.bitcron.com/", target="_blank")  Bitcron

      .paginator
        +h.back_to_top(label="△")
        +h.paginator(pre_label="◁",  next_label="▷")
