extends base.jade

block title
	title= post.title + " - " + site.title

block content
  article.post_article
    +font('hanazono')
      h2.post_title
        a(href=post.url, target="_blank")= post.title
    +font('noto-1')
      ul.info
        if post.category: span
          i.fa.fa-book
          a(href=post.category.url).info_item= post.category.title
          span='&nbsp; &nbsp;'
        if post.tags: span
          i.fa.fa-tags
          for tag in post.tags
            a.tag(href='/tag/{{tag}}').info_item= tag
          span='&nbsp; &nbsp;'
        span
          i.fa.fa-file-text-o
          span.info_item= ('{0:,}'.format(post.text_words or 0)) + '字'
          span= '&nbsp; &nbsp;'
        span
          i.fa.fa-comments-o
          span.info_item= ('{0:,}'.format(post.comments_count or 0)) + '条评论'
          span='&nbsp; &nbsp;'
        span
          i.fa.fa-calendar
          span.info_item= post.date.format('%Y-%m-%d')
          
    //规定一个新的metadata“cancel_indent”，当值为True时，载入special_format以取消单篇文章的首行缩进
    if post.metadata.cancel_indent
        +h.load("/template/special_format.scss")
    .content= post.content
  
		.postpager
			if posts.pre_one
				a.pre(href=posts.previous_one.url)= posts.previous_one.title
			else
				span.pre 
					没有更新的啦！
			if posts.next_one
				a.next(href=posts.next_one.url)= posts.next_one.title
			else
				span.next 
					没有更早的啦！
	
  +post.comments_as_html()
